<section class="hero">
  <div class="container">

    <div class="row justify-content-center">

      <div class="col-lg-8 text-center">

        <p class="greeting">Greetings! I'm:</p>

        <h1 class="display-3 fw-bold">
          Javieh
        </h1>

        <h2 class="subtitle">
          {{currentTitle()}}
        </h2>

        <p class="description">
          Passionate about building software with
          <strong>several technologies</strong>.
        </p>

        <div class="d-flex justify-content-center gap-3 mt-5">

          <a
            class="btn btn-primary btn-lg"
            routerLink="/projects"
            >

            View Projects

          </a>

          <a
             class="btn btn-outline-light btn-lg"  
             routerLink="/blog"
             >

            Read Blog

          </a>

        </div>

      </div>
    <div class="scroll-indicator">
      <a href="#tech-stack">↓</a>
    </div>
    </div>

  </div>
</section>